.app-download {
    margin: 100px auto;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
    width: 100%;
}

.app-download-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2vw, 15px);
    margin-top: 40px;
    margin-bottom: 40px;
}

.app-download-platforms img {
    width: max(25vw, 120px);
    max-width: 180px;
    transition: 0.3s ease;
    cursor: pointer;
}

.app-download-platforms img:hover {
    transform: scale(1.07);
}
