/* Main container */
.explore-menu {
display: flex;
flex-direction: column;
gap: 20px;
}

.explore-menu h1 {
  font-size: 2.5rem;
  color: #333;
  font-weight: 500;
}


.explore-menu-text {
  max-width: 60%;
  columns: #808080;
}

.explore-menu-list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 30px;
 text-align: center;
 margin: 20px 0px;
 overflow: scroll;
}
.explore-menu-list::-webkit-scrollbar{
  display: none;
}

/* Single menu card */
.explore-menu-list-item img{
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore-menu-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw,16px);
  cursor: pointer;
}
.explore-menu-list-item.active {
  border: 2px solid #ff4d4d;
  background: #ffecec;
}
