@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.footer {
  width: 100%;
  background: #111;
  color: #fff;
  padding: 50px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-left img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-left p {
  max-width: 300px;
  line-height: 1.6;
}

.footer-socials i {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-socials i:hover {
  color: #e63946; /* red hover */
  transform: scale(1.2);
}


.footer-company ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-company li,
.footer-contact li {
  margin: 8px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-company li:hover,
.footer-contact li:hover {
  color: #e63946;
}

hr {
  border: 0.5px solid #444;
  margin: 30px 0;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #ccc;
}
