.footer {
  color: #d9d9d9;
  background-color: #323232;
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  flex-wrap: wrap;
}

/* LEFT SECTION */
.footer-left {
  width: 30%;
}

.footer-logo {
  width: 140px;
  margin-bottom: 15px;
}

.footer-left p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.footer-socials i {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-socials i:hover {
  color: #ff4e2c;
}

/* MIDDLE SECTION */
.footer-company h3,
.footer-contact h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-company ul,
.footer-contact ul {
  list-style: none;
  padding: 0;
}

.footer-company li,
.footer-contact li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-company li:hover,
.footer-contact li:hover {
  color: #ff4e2c;
}

/* COPYRIGHT */
hr {
  border: 0.5px solid #555;
  margin: 30px 0;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    padding: 0 30px;
    gap: 30px;
  }

  .footer-left,
  .footer-company,
  .footer-contact {
    width: 100%;
  }
}
